// Global default params, used in configs
params {

  // Workflow flags
  outdir = './results'

  // Boilerplate options
  help = false
  tracedir = "${params.outdir}/pipeline_info"

  // cache option makes it a bit easier to set conda or singularity cacheDir
  cache = ''
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'    

if ( params.medaka || params.nanopolish ){
    includeConfig 'conf/nanopore.config'
}

if ( params.illumina ){
    includeConfig 'conf/illumina.config'
}


profiles {
  conda { 
     if (params.medaka){
       process.conda = "$baseDir/environment-medaka.yml"
     } else if (params.nanopolish) {
       process.conda = "$baseDir/environment.yml"
     } else if (params.illumina) {
       process.conda = "$baseDir/environment-illumina.yml"
     }
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
  docker {
    docker.enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
  }
  singularity {
    singularity.enabled = true 
    singularity.autoMounts = true

    if (params.medaka){
      process.container = "file:///${baseDir}/artic-ncov2019-medaka.sif"
    } else if (params.nanopolish) {
      process.container = "file:///${baseDir}/artic-ncov2019-nanopolish.sif"
    } else if (params.illumina) {
      process.container = "file:///${baseDir}/artic-ncov2019-illumina.sif"
    }
    if (params.cache){
      singularity.cacheDir = params.cache
    }
  }
  slurm {
    process.executor = 'slurm'
    includeConfig 'conf/slurm.config'
  }
  lsf {
    process.executor = 'lsf'
    includeConfig 'conf/lsf.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = false
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = false
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = false
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = false
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
  author = 'Matt Bull'
  description = 'Nextflow for running the Artic ncov2019 pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}

