// Global default params, used in configs
params {

  // Workflow flags
  outdir = './results'

  // Boilerplate options
  help = false
  tracedir = "${params.outdir}/pipeline_info"

  // cache option makes it a bit easier to set conda or singularity cacheDir
  cache = ''

  // varCaller
  varCaller = 'iVar'
  viridian = false
  analysis = false

  // krakenDB
  krakdb = '/data/databases/kraken2/minikraken2_v2_8GB_201904_UPDATE'

  // GFF
  GFF=false
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

if (params.varCaller == 'medaka'){
    params.medaka=true
}
else if (params.varCaller == 'viridian'){
    params.viridian=true
}

if ( params.medaka || params.nanopolish || params.viridian ){
    includeConfig 'conf/nanopore.config'
}

if ( params.illumina ){
    includeConfig 'conf/illumina.config'
    if (params.varCaller == 'iVar'){
	params.viridian=false
	}
}

executor{
     queueSize = 100000
}


profiles {
sp3 {
        process {
            scratch = true
	    errorStrategy = 'ignore'

        }
        report {
	    enabled = true
        }

        timeline {
            enabled = true
        }
	dag {
	    enabled = true
	}
	trace {
	    enabled = true
	}
  }
  conda {
     if ( params.medaka || params.nanopolish ) {
       process.conda = "$baseDir/environments/nanopore/environment.yml"

     } else if (params.illumina) {
       process.conda = "$baseDir/environments/illumina/environment.yml"
     }
     if (params.cache){
       conda.cacheDir = params.cache
     }
     includeConfig 'conf/conda.config'
  }
  docker {
    docker.enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
  }
  singularity {
        process {
            scratch = true
	    errorStrategy = 'ignore'

        }
        report {
	    enabled = true
        }

        timeline {
            enabled = true
        }
	dag {
	    enabled = true
	}
	trace {
	    enabled = true
	}
    //singularity.enabled = true 
    singularity.autoMounts = true

    if ( params.medaka || params.nanopolish || params.analysis ||(params.viridian && !params.illumina) ){
      process {
          withName:articDownloadScheme {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-nanopore.sif"
      }
          withName:articGuppyPlex {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-nanopore.sif"
      }
          withName:articMinIONMedaka {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-nanopore.sif"
      }
          withName:articRemoveUnmappedReads {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-nanopore.sif"
      }
          withName:makeQCCSV {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-nanopore.sif"
      }
          withName:writeQCSummaryCSV {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-nanopore.sif"
      }
          withName:getObjFilesONT {
              singularity.enabled = true
              container = '/data/images/oci_download-2021-06-03-a71ecf9e3172.simg'
      }
          withName:pango {
              singularity.enabled = true
              container = '/data/images/pangolinimg-2021-06-15-1ce80b30e1ef.simg'
      }
          withName:nextclade {
              singularity.enabled = true
              container = '/data/images/nextclade_new.sif'
      }
          withName:download_nextclade_files {
              singularity.enabled = true
              container = '/data/images/nextclade_new.sif'
      }
          withName:getVariantDefinitions {
              singularity.enabled = true
              container = '/data/images/aln2type-2021-05-21-5fdc634aba8c.simg'
      }
          withName:aln2type {
              singularity.enabled = true
              container = '/data/images/aln2type-2021-05-21-5fdc634aba8c.simg'
      }
          withName:articMinIONViridian {
              singularity.enabled = true
              container = '/data/images/viridian_workflow.img'
      }
          withName:FN4_upload {
              singularity.enabled = true
              container = '/data/images/fn4upload-2021-06-22-46e23f35c1d4.simg'
      }
          withName:makeReport {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
    }
    }
    } else if (params.illumina) {
      process {
          withName:articDownloadScheme {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
      }
          withName:indexReference {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
      }
          withName:readTrimming {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
      }
          withName:readMapping {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
      }
          withName:trimPrimerSequences {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
      }
          withName:callVariants {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
      }
          withName:makeConsensus {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
      }
          withName:makeQCCSV {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
      }
          withName:writeQCSummaryCSV {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
      }
          withName:collateSamples {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
      }
          withName:getObjFiles {
              singularity.enabled = true
              container = '/data/images/oci_download-2021-06-03-a71ecf9e3172.simg'
      }
          withName:pango {
              singularity.enabled = true
              container = '/data/images/pangolinimg-2021-06-15-1ce80b30e1ef.simg'
      }
          withName:download_nextclade_files {
              singularity.enabled = true
              container = '/data/images/nextclade_new.sif'
      }
          withName:nextclade {
              singularity.enabled = true
              container = '/data/images/nextclade_new.sif'
      }
          withName:getVariantDefinitions {
              singularity.enabled = true
              container = '/data/images/aln2type-2021-05-21-5fdc634aba8c.simg'
      }
          withName:aln2type {
              singularity.enabled = true
              container = '/data/images/aln2type-2021-05-21-5fdc634aba8c.simg'
      }
          withName:viridian {
              singularity.enabled = true
              container = '/data/images/viridian_workflow.img'
      }
          withName:FN4_upload {
              singularity.enabled = true
              container = '/data/images/fn4upload-2021-06-22-46e23f35c1d4.simg'
      }
          withName:makeReport {
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina.sif"
    }
    }
}
    if (params.cache){
      singularity.cacheDir = params.cache
    }
  }
  slurm {
    process.executor = 'slurm'
  }
  lsf {
    process.executor = 'lsf'
  }
  gls {
    process.executor = 'google-lifesciences'
    includeConfig 'conf/gls.config'
  }
}

// COG-UK institutional config
includeConfig 'conf/coguk.config'

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
  author = 'Matt Bull'
  description = 'Nextflow for running the Artic ncov2019 pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}

