// params for seqeuncing libraries ligating/tailing adapters to amplicon
params.allowNoprimer = false
params.illuminaKeepLen = 30  // ivar default (or higher good for this library type)
// samtools <=1.10 mpileup does not limit depth well (for high depth, common read start locii)
params.mpileupDepth = 0

executor {
    $lsf {
      perJobMemLimit = true
      queueSize = 500
      pollInterval = '30 sec'
    }

    $local {
      memory = '4 GB'
    }
}

process {
    withLabel: largecpu {
        cpus = 4
    }
}
