// ARTIC specific params

params{
    runDirectory = trimTrailingSlash(params.directory)
    min_length = 400
    max_length = 700
    barcode = false
    normalise = false
    schemeRepoURL = 'https://github.com/artic-network/artic-ncov2019.git'
    schemeDir = 'primer_schemes'
    scheme =  'nCoV-2019'
    schemeVersion = 'V1'
    minimap = false
}

def trimTrailingSlash( path ) {
    if ( path.endsWith('/') ) {
    return path.substring(0, path.length() - 1)
    } else {
    return path
    }
}
