// ARTIC specific params

params{
    // Specify in the command using "--directory"
    runDirectory = trimTrailingSlash(params.directory)

    // Minimum read length for artic gather
    min_length = 400

    // Maximum read length for artic gather
    max_length = 700

    // Did you barcode your nanopore run?
    barcode = false

    // Set to an integer to enable normalising in artic minion
    normalise = false

    // Repo to download your primer scheme from
    schemeRepoURL = 'https://github.com/artic-network/artic-ncov2019.git'

    // Directory within schemeRepoURL that contains primer schemes
    schemeDir = 'primer_schemes'

    // Scheme name
    scheme =  'nCoV-2019'

    // Scheme version
    schemeVersion = 'V1'

    // Use minimap not bwa? Specify in the command using "--minimap"
    minimap = false
}


def trimTrailingSlash( path ) {
    if ( path.endsWith('/') ) {
    return path.substring(0, path.length() - 1)
    } else {
    return path
    }
}
