// Google Life Sciences specific config
executor {
      workDir = 'gs://project-bucket/scratch' // <- replace with your own bucket!

      if ( params.medaka || params.nanopolish ){
      process.container = 'location of artic-ncov2019-medaka container'
      }

      if ( params.illumina ){
      process.container = 'location of artic-ncov2019-illumina'
      }

      
}

google {
      region  = 'us-central1'   // <- The Google Cloud region or zone. Separate multiple ones with comma
      project = 'project-id' // <- replace with the Google project ID of your project
      lifeSciences.bootDiskSize = 150.GB
      lifeSciences.preemptible = true
}      
process {
      process.errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
      process.maxRetries = 5
}
