// Google Life Sciences specific config
executor {
      workDir = 'gs://project-bucket/scratch' // <- replace with your own bucket!
      google.region  = 'us-central1'   // <- The Google Cloud region or zone. Separate multiple ones with comma
      google.project = 'google-project-id' // <- replace with the Google project ID of your project
      google.lifeSciences.bootDiskSize = 150.GB
      google.lifeSciences.preemptible = true
      process.errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
      process.maxRetries = 5
}
