// Illumina specific params

params {

    // Instead of using the ivar-compatible bed file in the scheme repo, the
    // full path to a previously-created ivar bed file. Must also supply
    // ref.
    bed = false

    // Instead of indexing the reference file in the scheme repo, the prefix
    // of previously-created reference index files. Must also supply bed.
    // (With these defined, none of the scheme* variables will be used.)
    ref = false

    // Illumina sample prefixes - list of strings that prefix samples
    illuminaPrefixes = false

    // illumina fastq search path
    illuminaSuffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
    fastq_exts = ['.fastq.gz', '.fq.gz']

    // Use cram input instead of fastq files
    cram = false
    
    // Output cram instead of bam files
    outCram = false

    // Clean BAM header to anonymise fastq names
    cleanBamHeader = false

    // Allow reads that don't have primer sequence? Ligation prep = false, nextera = true
    allowNoprimer = true

    // Length of illumina reads to keep after primer trimming
    illuminaKeepLen = 50

    // Sliding window quality threshold for keeping reads after primer trimming (illumina)
    illuminaQualThreshold = 20

    // Mpileup depth for ivar (although undocumented in mpileup, setting to zero removes limit)
    mpileupDepth = 100000

    // iVar frequency threshold for consensus variant (ivar consensus: -t)
    varFreqThreshold = 0.75

    // Minimum coverage depth to call variant (ivar consensus: -m; ivar variants -m)
    varMinDepth = 10

    // iVar frequency threshold to call variant (ivar variants: -t )
    varMinFreqThreshold = 0.25

    // iVar minimum mapQ to call variant (ivar variants: -q)
    varMinVariantQuality = 20

    // Typing frequency threshold to call aa consequences of variant. Set to ivarFreqThreshold for consistency with consensus
    csqAfThreshold = 0.75

    // Minimum coverage depth to call aa consequences of variant. Set to ivarMinDepth for consistency with consensus
    csqDpThreshold = 10

    // Java settings for picard tools. The "-Xmx" setting is useful if running into java memory issues
    picardJavaSettings = ""

    // Options for picard CollectWgsMetrics
    wgsMetricsOptions = "--COVERAGE_CAP 100000 --LOCUS_ACCUMULATION_CAP 1000000"

    // Customization of multiQC report
    multiqcOptions = '--cl_config "picard_config: { general_stats_target_coverage: [10,30,50,100] }" --module cutadapt --module fastqc --module ivar --module picard'
}