// Nanopore specific params

params {

    // Minimum read length for artic guppyplex
    min_length = 400

    // Maximum read length for artic guppyplex
    max_length = 700

    // Set to an integer to enable normalising in artic minion
    // IF SET TO false THIS WILL USE artic minion DEFAULT (100)
    normalise = 500

    // Use bwa not minimap2? Specify in the command using "--bwa"
    bwa = false

}
