// Nanopore specific params

params {

    // Minimum read length for artic guppyplex 
    //default setup changes for midnight protocol
    // for artic protocol min_length = 400
    min_length = 150

    // Maximum read length for artic guppyplex 
    //default setup changes for midnight protocol
    // for artic protocol min_length = 700
    max_length = 1200

    // Set to an integer to enable normalising in artic minion
    // IF SET TO false THIS WILL USE artic minion DEFAULT (100)
    normalise = 500

    // Use bwa not minimap2? Specify in the command using "--bwa"
    bwa = false
    
    // Output cram instead of bam files
    outCram = false

    // Ignore barcodes having fewer than this number of reads in total
    minReadsPerBarcode = 100

    // After articGuppyPlex filter out samples with fewer than this number of reads
    minReadsArticGuppyPlex = 10

    // Typing frequency threshold to call aa consequences of variant.
    csqAfThreshold = 0.75

    // Minimum coverage depth to call aa consequences of variant.
    csqDpThreshold = 20
 
}
